<nav class="border-gray-200 bg-white dark:bg-gray-900">
  <div
    class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-center gap-6 p-4 md:justify-between"
  >
    <h1
      class="w-full text-center text-xl font-bold text-white md:w-fit md:text-left"
    >
      To-do app
    </h1>
    <div class="block w-auto" id="navbar-default">
      <ul *ngIf="isLoggedIn" class="flex flex-row gap-6">
        <li class="text-white hover:cursor-pointer hover:text-indigo-600">
          <a
            [routerLink]="['/todo/create']"
            [routerLinkActive]="'text-indigo-600'"
            [routerLinkActiveOptions]="{ exact: true }"
            >Add task</a
          >
        </li>
        <li class="text-white hover:cursor-pointer hover:text-indigo-600">
          <a
            [routerLink]="['/todo/show']"
            [routerLinkActive]="'text-indigo-600'"
            [routerLinkActiveOptions]="{ exact: true }"
            >Show task</a
          >
        </li>
        <li
          class="text-white hover:cursor-pointer hover:text-indigo-600"
          (click)="logout()"
        >
          <p>Log out</p>
        </li>
      </ul>
    </div>
  </div>
</nav>
