<nav class="border-gray-200 bg-white dark:bg-gray-900">
  <div
    class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4"
  >
    <h1 class="text-xl font-bold text-white">To-do app</h1>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="mt-4 flex flex-col rounded-lg border border-gray-100 bg-gray-50 p-4 font-medium md:mt-0 md:flex-row md:space-x-8 md:border-0 md:bg-white md:p-0 rtl:space-x-reverse dark:border-gray-700 dark:bg-gray-800 md:dark:bg-gray-900"
      >
        <li class="text-white hover:cursor-pointer hover:text-indigo-600">
          <a
            [routerLink]="['/todo/create']"
            [routerLinkActive]="'text-indigo-600'"
            [routerLinkActiveOptions]="{ exact: true }"
            >Add task</a
          >
        </li>
        <li class="text-white hover:cursor-pointer hover:text-indigo-600">
          <a
            [routerLink]="['/todo/show']"
            [routerLinkActive]="'text-indigo-600'"
            [routerLinkActiveOptions]="{ exact: true }"
            >Show task</a
          >
        </li>
        <li
          class="text-white hover:cursor-pointer hover:text-indigo-600"
          (click)="logout()"
        >
          <p>Log out</p>
        </li>
      </ul>
    </div>
  </div>
</nav>
